@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Outfit", serif;
}

a.active{
  background-color: #f486e444;
  border: 1px solid #f486b2a2;
  border-right: none;
}